body {
	margin: 0px;
	padding: 0px;
	background-color: black;
}

div.container {
	width: 1000px;
	height: 1000px;
	border-left: 2px;
	border-right: 2px;
	border-style: solid;
	border-color: #800000;
	margin-left: 10%;
	margin-right: 10%;
	background-color: yellow;
	color: '#FFFF55';
}

div.header {
	width: 100%;
	height: 20%;
	background-color: #800000;
	color: #FFFF55;
	text-align: right;
	font-family: Sans-serif;
	font-weight: bold;
}

h1.header {
	font-family: Rage Italic;
	text-align: center;
	font-size: 80px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

div.content a:LINK {
	color: #FFFF55;
	text-decoration: none;
}

div.content a:VISITED {
	color: #FFFF55;
	text-decoration: none;
}

div.content a:ACTIVE {
	text-decoration: none;
	color: #FFFF55;
}

div.content a:HOVER {
	color: #FFFF55;
	text-decoration: underline;
}

div.header a:LINK {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

div.header a:VISITED {
	text-decoration: none;
	color: black;
	font-weight: bold
}

div.header a:ACTIVE {
	text-decoration: none;
	color: black;
	font-weight: bold
}

div.header a:HOVER {
	font-size: 18;
	background: #FFFF55;
	border: 3px outset DarkRed
}

div.left a:LINK {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

div.left a:VISITED {
	text-decoration: none;
	color: black;
	font-weight: bold
}

div.left a:ACTIVE {
	text-decoration: none;
	color: black;
	font-weight: bold
}

div.left a:HOVER {
	font-size: 18;
	background: #FFFF55;
	border: 3px outset DarkRed
}

p.title {
	font-size: 22px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-shadow: red;
}

div.left {
	float: left;
	width: 25%;
	height: 75%;
	color: black;
	font-family: Sans-serif, Times New Roman, Georgia;
	font-weight: bold;
	font-size: 14px;
}

div.footer {
	clear: left;
	width: 100%;
	height: 5%;
	background-color: #800000;
	color: #FFFF55;
	text-align: center;
	font-family: Sans-serif;
}

div.content {
	float: right;
	background-position: bottom right;
	background-color: black;
	width: 75%;
	height: 75%;
	color: #FFFF55;
	font-family: Sans-serif;
	text-align: center;
}

input {
	color: #800000;
	background: #fee3ad;
	border: 2px solid #800000;
}

select {
	background: #fee3ad;
	border: 2px outset #d7b9c9;
}

.checkbox input {
	border: 2px outset #d7b9c9;
	background-color: #fee3ad;
}

.submit input {
	background: #ffa20f;
	border: 2px outset #d7b9c9;
}

fieldset {
	border: 2px solid #800000;
	display: inline;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
}

.errors {
	color: #FFFF55;
	font-weight: bold;
	font-size-adjust: inherit;
}

ul {
	font-size: 16px;
	list-style-type: none;
	padding: 10px;
	margin: 0px;
}

li {
	padding: 4px 4px 4px 17px;
}

table,td,th {
	color: #FFFF55;
	table-layout: auto;
	empty-cells: hide;
}