<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	id="WebApp_ID" version="2.5">
    <display-name>Photo Album Vaadin Web Application</display-name>
    
    <context-param>
    	<description>Album that contains pictures</description>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/dispatcher-servlet.xml,
		    /WEB-INF/spring-security.xml,
		    /WEB-INF/applicationContext.xml
		</param-value>
	</context-param>
	
    <!-- SpringVaadin Application servlet -->
    <servlet>
        <servlet-name>SpringVaadin Application</servlet-name>
        <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
        <init-param>
            <description>Vaadin UI to display</description>
            <param-name>UI</param-name>
            <param-value>rs.codecentric.photo_album.MyVaadinUI</param-value>
        </init-param>
                <init-param>
            <description>Application widgetset</description>
            <param-name>widgetset</param-name>
            <param-value>rs.codecentric.photo_album.AppWidgetSet</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
		<servlet-name>SpringVaadin Application</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpringVaadin Application</servlet-name>
        <url-pattern>/VAADIN/*</url-pattern>
    </servlet-mapping>
    
    
	<!-- Spring -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- Spring Security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
</web-app>